body {
	font-family: DejaVu Sans Mono, monospace;
	margin:20px auto;
	line-height:1.5em;
	font-size:1.1em;
	background-color:#282c34;
	max-width:100vw;
	color:#bbc2cf;
	padding:0 10px;
	hyphens:auto;
}


a { color:#ff6c6b; text-decoration:none; }
a:hover { color:#ff6c6b; text-decoration:underline; }

body > ul > li img {
	height: 100px;
	width: auto;
}

body > ul {
	white-space: nowrap;
	position: relative;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

img {
	max-width: 90vw;
	height: auto;
}

input {
	max-width: 80vw;
}

h1,h2,h3,.fact_check_info_title {
	line-height:1.2;
	color:#51afef;
	font-size:1.3em;
}
h2 { font-size:1.2em; }
h3,.fact_check_info_title { font-size:1.1em; }

pre,code {
	background: #20232a;
	color: #969ba6;
	border: 1px solid lightgrey;
	padding: 5px;
	tab-size:4;
}

blockquote {
	border-left: 10px solid #969ba6;
	padding-left: 10px;
	margin-right: 10px;
}

#article-content img {
	display:flex;
	max-width: 80vw;
	height:auto;
	margin:auto;
}

.rating_title_wrap {
	font-weight:bold;
	font-size:1.2em;
}

.about_this_rating {
	font-weight:thin;
	font-size:0.7em;
	display:inline;
}

.wrapper_title {
	font-weight:bold;
}

.claim_cont {
	line-height:normal;
	font-weight:normal;
}

.claim_wrapper,.rating_wrapper,.fact_check_info_wrapper {
	border:2px solid lightgrey;
	padding:5px;
}

.badgetype_text {
	padding-left: 15px;
}

ul.archives {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	min-width:200px;
	border:1px solid lightgrey;
	padding-top:20px;
	padding-bottom:15px;
	margin:20px;
	list-style-type:none;
	line-height:3em;
	text-align:center;
	align:center;
}

ul.archives li {
	flex-grow:0;
	flex-shrink:1;
	flex-basis:33%;
	translate: -10% 0;
}
